= title "Vprašanja in odgovori"
.crud
  .master
    = link_to "Novo vprašanje", new_question_path

%table
  %thead
    %th Vprašanje
    %th Odgovor
    %th
  %tbody
    - for question in collection
      %tr.clickable
        %td= question.question
        %td= (textilize question.answer).html_safe
        %td
          .crud
            = link_to "Uredi", edit_question_path(question)
            = link_to "Odstrani", question, :confirm => 'Ste prepričani?', :method => :delete
