= simple_form_for resource, :class => :simple, :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :body
  = f.input :photo
  = f.input :expires_at, :minute_step => 60
  .submit
    = f.button :submit
