= title "Obvestila"
.crud
  .master
    = link_to "Ustvari obvestilo", new_notice_path

%table
  %thead
    %th Naslov obvestila
    %th Datum objave
    %th Vsebina
    %th Fotografija
    %th Opcije
  %tbody
    - for notice in collection
      %tr.clickable
        %td= notice.title
        %td= notice.created_at.to_s :short
        %td= (textilize truncate(notice.body_html, :length => 32)).html_safe
        %td
          - if notice.photo.file?
            .photo= (image_tag(notice.photo.url(:small))).html_safe
        %td
          .crud= link_to "Odstrani", notice, :confirm => destroy_confirmation(notice), :method => :delete
          .crud= link_to "Uredi", edit_notice_path(notice)

