= simple_form_for resource, :class => :simple do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :address
  = f.input :place
  = f.association :post_office
  = f.input :landline
  = f.input :mobile
  = f.input :email
  = f.input :notes
  = f.input :student
  = f.association :mother, :collection => Person.others, :label_method => :full_name, :prompt => 'Izberite mamo'
  = f.association :father, :collection => Person.others, :label_method => :full_name, :prompt => 'Izberite oceta'
  .submit= f.button :submit

