%tr
  %td
    = person.full_name
  %td
    = person.address
  %td
    = person.place
  %td
    = person.landline
  %td
    = person.mobile
  %td
    = person.email
  %td
    = person.notes  
  %td
    = h person.created_at.to_s :simple
  %td
    .crud
      = link_to "Podrobnosti", person
  %td
    .crud
      = link_to "Odstrani", person, :confirm => 'Ste prepriÄani?', :method => :delete
