-title 'Pregled ucenca'

.crud
  .master
    = link_to "Odstrani", @person, :confirm => 'Ste prepriÄani?', :method => :delete
    = link_to 'Uredi', edit_person_path(@person)
    
%p.date
  %strong Datum dodajanja:
  = @person.created_at.to_s :simple
.data
  %p
    %strong Ime in priimek:
    = @person.full_name
  %p
    %strong Naslov:
    = @person.address
  %p
    %strong Mesto:
    = @person.place
  %p
    %strong Email:
    = link_to @person.email, "mailto:#{@person.email}"
  %p
    %strong Telefon:
    = @person.landline
  %p
    %strong Mobitel:
    = @person.mobile
  %p
    %strong Opombe:
    %br
    = @person.notes
  %p
    - if @person.mother_id
      %strong Mati:
      = @person.mother.full_name
    
    - if @person.father_id
      %strong Oce:
      = @person.father.full_name
      
= link_to_back people_path
