= title "Statusi dodajanja oseb"
.crud
  .master
    = link_to "Nov status dodajanja", new_status_path

%table
  %thead
    %th Opis
    %th Kratek opis
    %th Opcije
  %tbody
    - for status in collection
      %tr
        %td= (textilize status.description).html_safe
        %td= status.short_description
        - if status.id > 4
          %td.crud= link_to "Odstrani", status, :confirm => destroy_confirmation(status), :method => :delete
        %td.crud= link_to "Uredi", edit_status_path(status)
