= title "Kategorije albumov"

.crud
  .master
    = link_to "Nova kategorija albumov", new_album_category_path

%table
  %thead
    %th Naziv kategorije
    %th Pozicija
    %th Opcije
  %tbody
    - collection.each do |album_category|
      %tr.clickable
        %td= album_category.title
        %td= album_category.position
        %td.crud= link_to "Odstrani", album_category, :confirm => destroy_confirmation(album_category), :method => :delete
        %td.crud= link_to "Uredi", edit_album_category_path(album_category)

