= simple_form_for resource, :class => :simple do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :address
  = f.input :place
  = f.association :post_office
  = f.input :landline
  = f.input :mobile
  = f.input :email
  = f.input :notes
  = f.input :date_of_birth, :start_year => Date.today.year - 3, :end_year => Date.today.year - 90, :prompt => ['dan', 'mesec', 'leto']
  = f.association :status, :collection => Status.all, :label_method => :short_description, :prompt => 'Izberite status dodajanja'
  
  .submit
    = f.button :submit

