%tr
  %td
    = student.full_name
  %td
    = contact_links(student.personal_contacts)
  %td
    = full_address(student)
  %td
    = student.landline
  %td
    = student.mobile
  %td
    = student.email
  %td
    = student.status.short_description
  %td
    = l student.created_at, :format => :short
  %td
    .crud
      = link_to "Odstrani", student, :confirm => destroy_confirmation(student), :method => :delete
      = link_to "Uredi", edit_student_path(student)
      = link_to "Podrobnosti", student

