= title "Učenci"

.crud
  .master
    = link_to 'Nov učenec', new_student_path

= render "overview"
%br

- unless @students_with_no_enrollments.empty?
  %h3 Še nikoli vpisani učenci
  = render "student", :students => @students_with_no_enrollments 
  %br
  
- unless @active_students.empty?
  %h3 Trenutno vpisani
  = render "student", :students => @active_students
  %br
  
- unless @future_students.empty?
  %h3 V bodoče vpisani učenci
  = render "student", :students => @future_students
  %br
  
- unless @past_students.empty?
  %h3 Nekdanji učenci
  = render "student", :students => @past_students