= title resource.full_name
%h2.sub Pregled učenca

.crud
  = link_to "Dodaj vpisnino", new_student_enrollment_path(@student)
  = link_to "Dodaj kontakt", new_student_personal_contact_path(@student)
  = link_to "Odstrani", @student, :confirm => destroy_confirmation(@student), :method => :delete
  .master
    = link_to 'Uredi', edit_student_path(@student)
    
.data
  %p
    %strong Ime in priimek:
    = @student.full_name
  %p
    %strong Referenčna številka:
    = @student.reference_number
  %p.date
    %strong Datum dodajanja:
    = l @student.created_at, :format => :long
  %p
    %strong Naslov:
    = @student.full_address
  %p
    %strong Email:
    = mail_to @student.email
  %p
    %strong Telefon:
    = @student.landline
  %p
    %strong Mobitel:
    = @student.mobile
  - if @student.date_of_birth
    %p
      %strong Datum rojstva:
      = l @student.date_of_birth, :format => :long
  %p
    %strong Opombe:
    %br
    = (textilize @student.notes).html_safe
  
  - if @student.contact
    %h3 Vpisne informacije
    %p
      = render "contacts/contact_details", :contact => @student.contact

#contacts_enrollments

  - unless @student.personal_contacts.empty?
    #contacts
      %h3 Osebni kontakti učenca
      %table
        %thead
          %th Ime in priimek
          %th Naslov
          %th Telefonska številka
          %th Mobitel
          %th Email
          %th Opombe
        %tbody
        = render @student.personal_contacts

  - unless @student.enrollments(true).empty?
  
    - enrollments = @student.enrollments(true)
    #enrollments
      %h3 Vpisnine
      %table
        %thead
          %th Obdobje
          %th Program
          %th Vrsta plačila
          %th Vpisnina
          %th Kavcija
          %th Popust
          %th Število ur
          %th Cena učne ure
          %th Šolnina
          %th Seštevek plačil
        %tbody
        = render enrollments.order("enrollment_date ASC")

    %br.clear
      
    #settled_and_unsettled_payments
      %h3 Poravnava
      %p
        %strong Znesek plačanih položnic:
        = number_to_currency(@student.invoices.settled.map(&:price).sum, :precision => 2)
      %p
        %strong Znesek neplačanih položnic:
        = number_to_currency(@student.invoices.unsettled.map(&:price).sum, :precision => 2)
          
    %br.clear

    #payments
      %h3 Plačila v tem mescu
      %table
        %thead
          %th Rok plačila
          %th Program
          %th Plan plačila
          %th Popust
          %th Znesek
        %tbody
        - for enrollment in enrollments
          - for payment in enrollment.payments
            - if payment.payment_date.year == Date.today.year and payment.payment_date.month == Date.today.month
              %tr
                %td= l payment.payment_date, :format => :default
                %td= enrollment.instrument.title + '/' + enrollment.mentor.full_name
                %td= payment.payment_plan
                %td= payment.period_discount == 0 ? "Brez popusta" : number_to_percentage(payment.period_discount * 100, :precision => 2)
                %td= number_to_currency(payment.price, :precision => 2)
    
      %br.clear
    
      #all_payments
        %h3 Vsa plačila
        %table
          %thead
            %th Rok plačila
            %th Program
            %th Plan plačila
            %th Popust
            %th Znesek
          %tbody
          - for enrollment in enrollments
            - for payment in enrollment.payments
              %tr
                %td= l payment.payment_date, :formay => :default
                %td= enrollment.instrument.title + '/' + enrollment.mentor.full_name
                %td= payment.payment_plan
                %td= payment.period_discount == 0 ? "Brez popusta" : number_to_percentage(payment.period_discount * 100, :precision => 2)
                %td= number_to_currency(payment.price, :precision => 2)            
              
%br.clear
 
= link_to_back students_path
