= title resource.full_name
%h2.sub Pregled učenca

.crud
  = link_to "Dodaj vpisnino", new_student_enrollment_path(resource)
  = link_to "Dodaj kontakt", new_student_personal_contact_path(resource)
  = link_to "Odstrani", resource, :confirm => destroy_confirmation(resource), :method => :delete
  .master
    = link_to 'Uredi', edit_student_path(resource)

= render "student_data", :resource => resource    

#contacts_enrollments
  - if resource.personal_contacts.any?
    #contacts
      %h3 Osebni kontakti učenca
      %table
        %thead
          %th Ime in priimek
          %th Naslov
          %th Telefonska številka
          %th Mobitel
          %th Email
          %th Opombe
        %tbody
        = render resource.personal_contacts

  - if resource.enrollments(true).any?
    - enrollments = resource.enrollments(true)
    #enrollments
      %h3 Vpisnine
      %table
        %thead
          %th Obdobje
          %th Program
          %th Vrsta plačila
          %th Vpisnina
          %th Kavcija
          %th Popust
          %th Predvideno št. ur
          %th Opravljenih ur
          %th Cena ure
          %th Šolnina
          %th Seštevek plačil
        %tbody
        = render enrollments.order("enrollment_date ASC")

    %br.clear
      
    #settled_and_unsettled_payments
      %h3 Statistika
      %p 
        %strong Znesek do sedaj plačanih položnic:
        = number_to_currency(resource.sum_of_settled_invoices, :precision => 2)
      %p 
        %strong Znesek plačanih položnic za trenutno vpisno obdobje:
        = number_to_currency(resource.sum_of_settled_invoices_for_active_enrollments, :precision => 2)
      %p 
        %strong Znesek neplačanih položnic za trenutno vpisno obdobje:
        = number_to_currency(resource.sum_of_unsettled_invoices_for_active_enrollmetns, :precision => 2)

    %br.clear

    #payments
      %h3 Plačila v tem mescu
      %table
        %thead
          %th Rok plačila
          %th Program
          %th Plan plačila
          %th Popust
          %th Znesek
        %tbody
        - for enrollment in enrollments
          - for payment in enrollment.payments
            - if payment.payment_date.year == Date.today.year and payment.payment_date.month == Date.today.month
              %tr
                %td= l payment.payment_date, :format => :default
                %td= enrollment.instrument.title + '/' + enrollment.mentor.full_name
                %td= payment.payment_plan
                %td= payment.period_discount == 0 ? "Brez popusta" : number_to_percentage(payment.period_discount * 100, :precision => 2)
                %td= number_to_currency(payment.price, :precision => 2)
    
      %br.clear
    
      #all_payments
        %h3 Vsa plačila
        %table
          %thead
            %th Rok plačila
            %th Program
            %th Plan plačila
            %th Popust
            %th Znesek
          %tbody
          - for enrollment in enrollments
            - for payment in enrollment.payments
              %tr
                %td= l payment.payment_date, :formay => :default
                %td= enrollment.instrument.title + '/' + enrollment.mentor.full_name
                %td= payment.payment_plan
                %td= payment.period_discount == 0 ? "Brez popusta" : number_to_percentage(payment.period_discount * 100, :precision => 2)
                %td= number_to_currency(payment.price, :precision => 2)            
              
%br.clear
 
= link_to_back students_path
