= title resource.full_name
%h2.sub Pregled učenca

.crud
  = link_to "Dodaj vpisnino", new_student_enrollment_path(@student)
  = link_to "Dodaj kontakt", new_student_personal_contact_path(@student)
  = link_to "Odstrani", @student, :confirm => destroy_confirmation(@student), :method => :delete
  .master
    = link_to 'Uredi', edit_student_path(@student)
    
.data
  %p
    %strong Ime in priimek:
    = @student.full_name
  %p
    %strong Referenčna številka:
    = @student.reference_number
  %p.date
    %strong Datum dodajanja:
    = l @student.created_at, :format => :long
  %p
    %strong Naslov:
    = full_address(@student)
  %p
    %strong Email:
    = mail_to @student.email
  %p
    %strong Telefon:
    = @student.landline
  %p
    %strong Mobitel:
    = @student.mobile
  - if @student.date_of_birth
    %p
      %strong Datum rojstva:
      = l @student.date_of_birth, :format => :long
  %p
    %strong Opombe:
    %br
    = (textilize @student.notes).html_safe
  
  - if @student.contact
    %h3 Vpisne informacije
    %p
      = render "contacts/contact_details", :contact => @student.contact

#contacts_enrollments

  - unless @student.personal_contacts.empty?
    #contacts
      %h3 Osebni kontakti učenca
      %table
        %thead
          %th Ime in priimek
          %th Naslov
          %th Telefonska številka
          %th Mobitel
          %th Email
          %th Opombe
        %tbody
        = render @student.personal_contacts

  - unless @student.enrollments.empty?
    #enrollments
      %h3 Vpisnine
      %table
        %thead
          %th Obdobje
          %th Program
          %th Plan plačila
          %th Vpisnina
          %th Kavcija
          %th Popust
          %th Šolnina
          %th Seštevek plačil
          %th Že plačano
        %tbody
        = render @student.enrollments.order("enrollment_date ASC")

%br.clear

- unless @student.payments.empty?
  #payments
    %h3 Plačila
    %table
      %thead
        %th Rok plačila
        %th Program
        %th Vrsta plačila
        %th Plan plačila
        %th Znesek
        %th Cena ure
        %th Plačano
        %th Št. učnih ur na obračun
        %th Št. potrjenih učnih ur
        %th Obdobje
        %th Pričakovanih ur
        %th Potrjenih ur
        %th Obdobje
        %th Pričakovanih ur
        %th Potrjenih ur
        %th Obdobje
        %th Pričakovanih ur
        %th Potrjenih ur
      %tbody
      = render @student.payments
      
%br.clear
 
= link_to_back students_path
