= title "Videi"
.crud
  .master
    = link_to "Dodaj video", new_movie_path

%table
  %thead
    %th Naziv videa
    %th
  %tbody
    - for movie in collection
      %tr
        %td= movie.title
        %td
          .crud= link_to "Odstrani", movie, :confirm => destroy_confirmation(movie), :method => :delete
          .crud= link_to "Uredi", edit_movie_path(movie)
            
