= title "Nasveti za nakup"
.crud
  .master
    = link_to "Nov nasvet", new_shop_advice_path

%table
  %thead
    %th Opis
    %th Spletna povezava
    %th Fotografija
  %tbody
    - for shop_advice in collection
      %tr.clickable
        %td= (textilize shop_advice.description).html_safe
        %td= shop_advice.url
        %td
          - if shop_advice.photo.file?
            .photo= (image_tag(shop_advice.photo.url(:small))).html_safe
        %td
          .crud
            = link_to "Uredi", edit_shop_advice_path(shop_advice)
            = link_to "Odstrani", shop_advice, :confirm => 'Ste prepriÄani?', :method => :delete
