= title "Nasveti za nakup"
.crud
  .master
    = link_to "Nov nasvet", new_instrument_shop_advice_path(parent)

%table
  %thead
    %th Opis
    %th Spletna povezava
    %th Fotografija
  %tbody
    - for shop_advice in collection
      %tr.clickable
        %td= (textilize shop_advice.description).html_safe
        %td= shop_advice.url
        %td
          - if shop_advice.photo.file?
            .photo= (image_tag(shop_advice.photo.url(:small))).html_safe
        %td
          .crud
            = link_to "Odstrani", [shop_advice.instrument, shop_advice], :confirm => 'Ste prepriÄani?', :method => :delete
            = link_to "Uredi", edit_instrument_shop_advice_path(shop_advice.instrument, shop_advice)

=link_to_back all_instruments_path
