= title "Dokumenti"
.crud
  .master
    = link_to "Nov dokument", new_schedule_path
    
%table
  %thead
    %th Naziv
    %th Vsebina
    %th
  %tbody
    - for schedule in collection
      %tr.clickable
        %td= schedule.title
        %td= (textilize schedule.body).html_safe
        %td
          .crud= link_to "Odstrani", schedule, :confirm => destroy_confirmation(schedule), :method => :delete
          .crud= link_to "Uredi", edit_schedule_path(schedule)

