%tr.clickable
  %td= link_to contact.name, contact
  %td= contact.phone
  %td= contact.email
  %td
    = raw contact.instruments.map(&:title).join(", ") unless contact.instruments.empty?
  %td
    = raw contact.locations.map(&:title).join(", ") unless contact.locations.empty?    
  %td
    =l contact.created_at, :format => :long