= simple_form_for @contact, :class => :simple do |f|
  #contact
    %p
      = f.input :name
    %p
      = f.input :address
    %p
      = f.input :phone
    %p
      = f.input :email
  #instruments
    = f.label "Zanimam se za program"
    %p.notice Obvezno izberite vsaj enega.
    %ul
      - Instrument.all.each do |instrument|
        %li
          %label
            = check_box_tag "contact[instrument_ids][]", instrument.id, @contact.instruments.include?(instrument)

            = instrument.title
  #locations
    = f.label "Zanimam se za lokacijo"
    %p.notice Obvezno izberite vsaj eno.
    %ul
      - Location.all.each do |location|
        %li
          %label
            = check_box_tag "contact[location_ids][]", location.id, @contact.locations.include?(location)
            = location.title
            
  %br.clear

  %p
    = f.input :experience
  %p
    = f.input :text
  %p.submit
    = f.button :submit
