= title "Kontakt"

%p.date
  %strong Oddano:
  = @contact.created_at.to_s :short
  
.data
  %p
    %strong Ime in priimek:
    = @contact.name
  %p
    %strong Naslov:
    = @contact.address
  %p
    %strong Email:
    = link_to @contact.email, "mailto:#{@contact.email}"
  %p
    %strong Telefon:
    = @contact.phone
    
  = render "contact_details", :contact => @contact

#start
  = link_to "Dodaj uÄenca", new_student_path(:contact_id => resource)
  %span ali
  = link_to "Odstrani", resource, :confirm => destroy_confirmation(resource), :method => :delete


= link_to_back dashboard_path
