= simple_form_for resource, :class => :simple, :html => {:multipart => true} do |f|
  %h3 Osebni podatki
  = f.input :name
  = f.input :surname
  = f.input :email
  = f.input :phone
  = f.input :address
  = f.input :about
  = f.input :facebook
  = f.input :myspace
  = f.input :position
  = f.input :photo
  .input.optional
    - if resource.photo.file?
      %label= t("existing_image")
      = image_tag resource.photo.url(:small)
  
  %h3 Geslo za dostop
  = f.simple_fields_for :user do |u|
    = u.input :password
    = u.input :password_confirmation
    
  %h3 Pare
  = f.input :price_per_private_lesson
  = f.input :price_per_public_lesson
  
  .submit
    = f.button :submit

