= simple_form_for resource, :class => :simple, :html => {:multipart => true} do |f|

  - if resource.user.nil?
    %h3 Zasebne informacije
    = f.input :private_email
    = f.input :password
    = f.input :password_confirmation
  
  %h3 Javne informacije
  = f.input :name
  = f.input :surname
  = f.input :phone
  = f.input :email
  = f.input :address
  = f.input :photo
  = f.input :about
  = f.input :facebook
  = f.input :myspace
  = f.input :position
  .submit
    = f.button :submit

