= title "Mentorji"
.crud
  .master
    = link_to "Dodaj mentorja", new_mentor_path
%p
  %strong Dodajanje inštrumenta
  mentorju je možno samo kadar je mentor že ustvarjen. Inštrument dodaš mentorju tako, da izbereš urejanje mentorja.

%table
  %thead
    %th Ime
    %th Priimek
    %th Telefonska številka
    %th Naslov
    %th Email
    %th Podrobnosti
    %th Facebook
    %th Myspace
    %th Pozicija
    %th Foto
  %tbody
    - for mentor in collection
      %tr.clickable
        %td= link_to mentor.name, details_mentor_path(mentor)
        %td= mentor.surname
        %td= mentor.phone
        %td= mentor.address
        %td= mentor.email
        %td= (textilize mentor.about).html_safe
        %td= mentor.myspace
        %td= mentor.facebook
        %td= mentor.position
        %td
          - if mentor.photo.file?
            .photo= image_tag mentor.photo.url(:square), :width => 50, :height => 50
