= title "Podrobnosti mentorja"

.crud
  .master
    = link_to "Uredi", edit_mentor_path(resource)
    = link_to "Odstrani", resource, :confirm => destroy_confirmation(resource), :method => :delete

.data
  %p
    %strong Ime in priimek:
    = resource.full_name
  - if resource.phone?
    %p 
      %strong Telefonska številka:
      = resource.phone
  - if resource.address?
    %p
      %strong Naslov:
      = resource.address
  %p
    %strong Email:
    = mail_to resource.email
  - if resource.about?
    %p
      %strong Podrobnosti:
      = raw textilize resource.about
  - if resource.facebook?
    %p
      %strong Facebook:
      = link_to_self resource.facebook
  - if resource.myspace?
    %p
      %strong Myspace:
      = link_to_self resource.myspace
  %p
    %strong Pozicija:
    = resource.position
    
  - if resource.photo.file?
    .photo= image_tag resource.photo.url(:square), :width => 50, :height => 50

- unless resource.instruments.empty?
  %h3 Programi
  %p= resource.instruments.to_sentence

- unless resource.locations.empty?
  %h3 Lokacije
  %p= resource.locations.to_sentence

- unless resource.enrollments.empty?
  %h3 Mentorjevi učenci
  %table
    %thead
      %tr
        %th
          Ime in priimek
        %th
          Program
    %tbody
      - for enrollment in resource.enrollments
        %tr
          %td= link_to enrollment.student, enrollment.student
          %td= link_to enrollment.instrument, detail_instrument_path(enrollment.instrument)


- if @check_in_dates and not @check_in_dates.empty?
  %br
  %h3 Pregled mentorjevih plač
  = date_hash_to_links(@check_in_dates, "wages", :check_in_date)
