= title "Podrobnosti mentorja"

.crud
  = link_to "Odstrani", resource, :confirm => destroy_confirmation(resource), :method => :delete
  .master
    = link_to "Uredi", edit_mentor_path(resource)

.data
  %p
    %strong Ime in priimek:
    = resource.full_name
  - if resource.phone?
    %p 
      %strong Telefonska številka:
      = resource.phone
  - if resource.address?
    %p
      %strong Naslov:
      = resource.address
  %p
    %strong Email:
    = mail_to resource.email
  - if resource.about?
    %p
      %strong Podrobnosti:
      = raw textilize resource.about
  - if resource.facebook?
    %p
      %strong Facebook:
      = link_to_self resource.facebook
  - if resource.myspace?
    %p
      %strong Myspace:
      = link_to_self resource.myspace
  %p
    %strong Pozicija:
    = resource.position
    
  - if resource.photo.file?
    .photo= image_tag resource.photo.url(:square), :width => 50, :height => 50

- unless resource.instruments.empty?
  %h3 Programi
  %p= resource.instruments.to_sentence

- unless resource.locations.empty?
  %h3 Lokacije
  %p= resource.locations.to_sentence

- unless resource.enrollments.empty?
  %h3 Mentorjevi učenci
  %table
    %thead
      %tr
        %th
          Ime in priimek
        %th
          Program
    %tbody
      - for enrollment in resource.enrollments
        %tr
          %td= enrollment.student
          %td= enrollment.instrument


- if @check_in_dates and not @check_in_dates.empty?
  %br
  %h3 Pregled mentorjevih plač
  - @check_in_dates.each do |year, check_in_dates|
    %strong= "#{year} > "
    - check_in_dates.each do |check_in_date|
      - date = l check_in_date, :format => :short
      = link_to date, :action => "wages", :check_in_date => check_in_date.to_s

