- title "Mentorji"

#mentors_filters
  %ul
    %li{:class => params[:by_location] || !params[:by_instrument] ? "active" : nil}= link_to "Po lokacijah", :by_location => true
    %li{:class => params[:by_instrument] ? "active" : nil}= link_to "Po glasbilih", :by_instrument => true

- if @mentors_by_location
  = gmaps4rails(@json)
  %h2 Po lokacijah
  - @mentors_by_location.each do |location, mentors|
    .mentor_location
      %h3= location
      %ul
        - mentors.each do |mentor|
          %li= link_to mentor, mentor

- if @mentors_by_instrument
  %h2 Po glasbilih
  - @mentors_by_instrument.each do |instrument, mentors|
    .mentor_instrument
      %h3= instrument
      %ul
        - mentors.each do |mentor|
          %li= link_to mentor, mentor

