- title @mentor.full_name


.data
  = spit @mentor, :full_name, :h3
  - if @mentor.public_phone?
    = spit @mentor, :phone
  - if @mentor.public_address?
    = spit @mentor, :address
  
  - if @mentor.public_email?
    %p.email= link_to @mentor.email, "mailto:#{@mentor.email}"
  
  .facebook_myspace
    - unless @mentor.facebook.blank?
      = link_to @mentor.facebook, :title => "#{@mentor.full_name} na Facebook" do
        = image_tag('icons/facebook_mini.png')
        Facebook

  .instruments
    = render :partial => "instruments/table", :locals => {:instruments => @mentor.instruments}

  = render "locations"


- unless @mentor.about.blank?
  = raw(link_to_lightbox image_tag(@mentor.photo.url(:medium)), @mentor.photo.url(:normal), @mentor.permalink, @mentor.full_name)
  .about.textilize= (textilize @mentor.about).html_safe


