= title "Pregled plače za obdobje od #{l @selected_date.at_beginning_of_month} do #{l @selected_date.at_end_of_month}"

= form_tag(bulk_update_for_admin_monthly_lessons_path(:mentor_id => params[:id]), {:method => :put } )  do
  %table
    %thead
      %th Program
      %th Učenec
      %th Število ur
    %tbody
      - for lessons in @monthly_lessons
        - field_name = "students_monthly_lessons[#{lessons.id}][hours]"
        - if lessons.enrollment
          %tr
            %td= lessons.enrollment.programme
            %td= lessons.enrollment.student.full_name
            %td= number_field_tag field_name, lessons.hours
            
  = submit_tag 'Shrani'

%hr
%p
%strong Znesek:
= number_to_currency(@mentors_wage)

= link_to_back details_mentor_path(resource)