- javascripts mentor_instruments_student_enrollments_path(parent, :format => :js)

%p
  %strong Datum vpisa, plan plačila, kavcijo, vpisnino in popust
  lahko vnesete samo ob ustvarjanju vpisnine. Če jih želite spremeniti, 
  %strong skrajšajte trenutno vpisnino do zadnjega obračnanega meseca in ustvarite novo.
%p
  Pri 
  %strong krajšanju vpisnine 
  primerno 
  %strong znižajte ceno šolnine,
  sicer boste 
  %strong podražali plačila.

%p
  %strong Rok plačila kavcije 
  in 
  %strong rok plačila vpisnine
  vnesite kadar vnašate kavcijo ali vpisnino.
  
= simple_form_for [resource.student, resource], :class => :simple do |f|
  - if resource.new_record?
    = f.input :enrollment_date, :start_year => Date.today.year, :end_year => Date.today.year + 1, :order => [:month, :year]
  - else
    .input
      = f.label :enrollment_date
      .value= l resource.enrollment_date, :format => "%B %Y"
  = f.input :cancel_date, :start_year => Date.today.year, :end_year => Date.today.year + 1, :order => [:month, :year]

  - if resource.new_record?
    = f.association :instrument, :prompt => "Izberite inštrument"
    = f.association :mentor, :prompt => "Izberite mentorja", :label_method => :title
  - else
    .input
      = f.label :mentor
      .value= resource.mentor.full_name
    .input  
      = f.label :instrument
      .value= resource.instrument.title
  = f.input :total_price, :input_html => { :step => "1" }
  = f.input :price_per_lesson, :input_html => { :step => "1" }
  = f.input :nr_of_lessons
  
  - if resource.new_record?
    = f.input :prepayment, :input_html => { :step => "1" }
    = f.input :prepayment_payment_date, :as => :date, :start_year => Date.today.year, :end_year => Date.today.year + 1
    = f.input :enrollment_fee, :input_html => { :step => "1" }
    = f.input :enrollment_fee_payment_date, :as => :date, :start_year => Date.today.year, :end_year => Date.today.year + 1
    = f.input :discount_percent
  - else
    - if resource.prepayment?
      .input
        = f.label :prepayment
        .value= resource.prepayment
    - if resource.enrollment_fee?
      .input
        = f.label :enrollment_fee
        .value= resource.enrollment_fee
    - if resource.discount_percent
      .input
        = f.label :discount_percent
        .value= resource.discount_percent
  .submit
    = f.button :submit
