= title "Povezave"

.crud
  .master
    = link_to "Nova povezava", new_link_path

%table
  %thead
    %th Naziv povezave
    %th Spletni naslov
    %th Kategorija
    %th 
  %tbody
    - for link in collection
      %tr.clickable
        %td= link.title
        %td= link.uri
        %td= link.category
        %td
          .crud= link_to "Odstrani", link, :confirm => destroy_confirmation(link), :method => :delete
          .crud= link_to "Uredi", edit_link_path(link)

