- title "Link"
%p
  %strong Naziv:
  = h @link.title
%p
  %strong Povezava:
  = h @link.uri
%p
  = link_to "Edit", edit_link_path(@link)
  |
  = link_to "Destroy", @link, :confirm => 'Ste prepriÄani?', :method => :delete
  |
  = link_to "View All", links_path
