= simple_form_for resource, :class => :simple do |f|
  = f.input :title
  = f.input :description
  = f.association :album_category
  = f.input :taken_at
  = f.input :position
  .submit
    = f.button :submit

