= title "Albumi"
.crud
  .master
    = link_to "Nov album", new_album_path
    
%table
  %thead
    %th Naslov albuma
    %th Kategorija
    %th Pozicija
    %th Opcije
  %tbody
    - for album in collection
      %tr.clickable
        %td= album.title
        %td
          - if album.album_category
            = album.album_category.title
          - else
            Brez kategorije
        %td= album.position
        %td
          .crud= link_to "Fotografije", all_album_photos_path(album)
          .crud= link_to "Odstrani", album, :confirm => destroy_confirmation(album), :method => :delete
          .crud= link_to "Uredi", edit_album_path(album)

