- if params[:video]
  - title "Video"
  - unless @movies.empty?
    = render :partial => @movies
  
  = admin_section do
    = link_to "Nov video", new_movie_path
    
  
- else
  - title "Fotografije"
  = render :partial => "album_category", :collection => @albums_by_category
  - unless @albums_no_category.empty?
    .not_categorized
      %h3 Ostali albumi
      = render :partial => "album", :collection => @albums_no_category

  = admin_section do
    = link_to "Nova kategorija", new_album_category_path
    %br
    = link_to "Nov album", new_album_path
