%tr.clickable
  %td= link_to l(payment.payment_date), payment
  %td= number_to_currency payment.calculated_price
  %td
    - if payment.settled
      &#10003;
    - else
      ✗
  %td= payment.enrollment.instrument.title + '/' + payment.enrollment.mentor.full_name
  %td= payment.enrollment.payment_plan.title
  %td= payment.enrollment.lessons_per_period

