= title "Plačila na dan #{ l @selected_date, :format => :long }"

%h3 Plačilni dnevi
- @payable_dates.each do |year, payable_dates|
  %strong= "#{year} > "
  - payable_dates.each do |payable_date|
    - date = l payable_date, :format => :short
    = link_to date, :action => "index", :payable_date => payable_date.to_s
  %br

%br  
%h3 Povzetek plačil
%table
  %thead
    %tr
      %th Pričakovana plačila
      %th Plačana plačila
      %th Ne plačana plačila  
  %tbody
    %tr
      %td= number_to_currency(@expected_payments_sum)
      %td= number_to_currency(@settled_payments_sum)
      %td= number_to_currency(@unsettled_payments_sum)

%br
%h3 Plačila     
%table
  %thead
    %tr
      %th
        Ime in priimek
      %th
        Naslov
      %th
        Ref. številka
      %th
        Rok plačila
      %th
        Št. predavanj
      %th
        Vrsta plačila
      %th
        Plan plačila
      %th
        Znesek
      %th
        Plačano
  %tbody
    - for payment in @payments
      - enrollment = payment.enrollment
      - student    = enrollment.student
      -# exception  = payment.payment_exception
      %tr.clickable
        %td= link_to student.full_name, payment_path(payment)
        %td= full_address(student)
        %td= student.reference_number
        %td= l payment.payment_date
        %td= payment.lessons_per_payment_period
        %td= payment_type(payment.payment_kind)
        %td= payment.enrollment.payment_plan.title
        %td= number_to_currency(payment.calculated_price)
        %td
          - if payment.settled
            &#10003;
          - else
            ✗

