= title "Pregled plačila"

.crud
  .master
    - if @payment.settled
      = link_to 'Ne plačano', unsettle_payment_path(@payment)
    - else
      = link_to 'Plačano', settle_payment_path(@payment)
      -#= link_to 'Dodaj izjemo', new_payment_payment_exception_path(@payment)
    
%p
  %strong Ime in priimek plačnika
  = @student.full_name
%p
  %strong Naslov plačnika
  = full_address(@student)
%p
  %strong Referenčna številka
  = @student.reference_number
%p
  %strong Datum plačila
  - if @exception
    = l @exception.payment_date
  - else
    = l @payment.payment_date
%p
  %strong Število predavanj
  = @payment.lessons_per_payment_period

%p
  %strong Plan plačila
  = @payment.enrollment.payment_plan.title

%p
  %strong Vrsta plačila
  = payment_type(@payment.payment_kind)
  
%p
  %strong Znesek
  = number_to_currency(@payment.calculated_price)
  
= raw @payment.description if @payment.description

