= title "Novice"
.crud
  .master
    = link_to "Ustvari novico", new_post_path

%table
  %thead
    %th Naslov
    %th Datum objave
    %th Vsebina
    %td
    %td
  %tbody
    - for post in collection
      %tr.clickable
        %td= post.title
        %td= post.created_at.to_s :simple
        %td= (textilize post.text).html_safe
        %td
          .crud
            = link_to "Odstrani", post, :confirm => 'Ste prepriÄani?', :method => :delete
            = link_to "Uredi", edit_post_path(post)

