- title "Novice"

- unless @notices.nil?
  .notices
    %h3 Aktualno
    %ul= render :partial => 'notice', :collection => @notices
- else
  = render_misc 'post'

- admin_section do
  = link_to "Nova novica", new_post_path
  
= render :partial => @posts
= will_paginate @posts
