= simple_form_for resource, :class => :simple do |f|
  %p
    = f.input :title
  %p
    = f.input :venue
  %p
    = f.input :address
  %p
    = f.input :description
  %p
    = f.input :when
  %p.submit
    = f.button :submit
