= title "Koncerti"

.crud
  .master
    = link_to "Nov koncert", new_gig_path

%table
  %thead
    %th Izvajalec
    %th Kraj
    %th Naslov
    %th Datum in ura
    %th Opis
    %th Nastopajoči mentorji
    %th Opcije
  %tbody
    - for gig in collection
      %tr
        %td= gig.title
        %td= gig.venue
        %td= gig.address
        %td= gig.when.to_s(:long)
        %td= (textilize gig.description).html_safe
        %td
          = preforming_mentors(gig)
        %td.crud= link_to "Izbriši", gig, :confirm => 'Ste prepričani?', :method => :delete
        %td.crud= link_to "Uredi", edit_gig_path(gig)
