- title "Koncert #{@gig.title}"


= spit @gig, :title, :h3

- if @gig.when
  %p.date= l @gig.when, :format => :simple

= spit @gig, :venue
= spit @gig, :address    

- if @gig.description
  %div.description
    %strong Opis:
    = (textilize @gig.description).html_safe

- unless @gig.mentors.empty?
  %p.mentors
    %strong Nastopajoči mentorji:
    = spit_with_links @gig, :mentors

= link_to_back gigs_path

