= title "Koncert #{@gig.title}"

.crud
  = link_to "Uredi", edit_gig_path(@gig)
  = link_to "Izbrisi", @gig, :confirm => 'Ste prepričani?', :method => :delete
  .master
    = link_to_back all_gigs_path

= spit @gig, :title, :h3

- if @gig.when
  %p.date= h @gig.when.to_s(:simple)

= spit @gig, :venue
= spit @gig, :address    

- if @gig.description
  %div.description
    %strong Opis:
    = (textilize @gig.description).html_safe

- unless @gig.mentors.empty?
  %p.mentors
    %strong Nastopajoči mentorji:
    = spit_with_links @gig, :mentors

