=  simple_form_for resource, :class => :simple do |f|
  %p
    = f.input :title
  %p
    = f.input :introduction
  %p
    = f.input :description
  %p
    = f.input :goals
  %p
    = f.input :activities
  %p
    = f.input :shop_instructions

  %p.submit
    = f.button :submit
