= simple_form_for resource, :class => :simple do |f|
  = f.input :title
  = f.input :introduction
  = f.input :description
  = f.input :goals
  = f.input :activities
  = f.input :shop_instructions
  = f.input :position
  .submit
    = f.button :submit
