= title "Programi"

.crud
  .master
    = link_to "Dodaj program", new_instrument_path
    
%table
  %thead
    %tr
      %th Naziv inštrumenta
      %th Opis
      %th Cilji
      %th Dejavnosti
      %th Uvod
      %th Navodila za nakup
      %td
  %tbody
    - collection.each do |instrument|
      %tr.clickable
        %td= instrument.title 
        %td= (textilize instrument.description).html_safe
        %td= (textilize instrument.goals).html_safe
        %td= (textilize instrument.activities).html_safe
        %td= (textilize instrument.introduction).html_safe
        %td= (textilize instrument.shop_instructions).html_safe
        %td
          .crud
            = link_to "Nasveti za nakup", all_instrument_shop_advices_path(instrument)
            = link_to "Odstrani", instrument, :confirm => destroy_confirmation(instrument), :method => :delete        
            = link_to "Uredi", edit_instrument_path(instrument)

