= title "Programi"

.crud
  .master
    = link_to "Dodaj program", new_instrument_path
    
%table
  %thead
    %tr
      %th Naziv inštrumenta
      %th Opis
      %th Cilji
      %th Dejavnosti
      %th Uvod
      %th Navodila za nakup
      %th Poz.
      %td
  %tbody
    - collection.order(:position).each do |instrument|
      %tr.clickable
        %td= link_to instrument.title, detail_instrument_path(instrument)
        %td=raw truncate textilize(instrument.description), :length => 64
        %td=raw truncate textilize(instrument.goals), :length => 64
        %td=raw truncate textilize(instrument.activities), :length => 64
        %td=raw truncate textilize(instrument.introduction), :length => 64
        %td=raw truncate textilize(instrument.shop_instructions), :length => 64
        %td= instrument.position
        %td
          .crud= link_to "Uredi", edit_instrument_path(instrument)