= title resource

.crud
  = link_to "Nasveti za nakup", all_instrument_shop_advices_path(resource)
  = link_to "Odstrani", resource, :confirm => destroy_confirmation(resource), :method => :delete
  .master
    = link_to 'Uredi', edit_resource_path
    
.data
  %p
    %strong Naziv:
    = resource.title
  %p
    %strong Opis:
    %br
    = resource.description
  %p
    %strong Cilji:
    %br
    = resource.goals
  %p
    %strong Aktivnosti:
    %br
    = resource.activities
  %p
    %strong Uvod:
    %br
    = resource.introduction
  %p
    %strong Nasveti:
    %br
    = resource.shop_instructions
  
  - if resource.mentors.any?
    %p
      %strong Mentorji:
      %br
      = resource.mentors.to_sentence
  
  - if @active_enrollments.any?
    %h3 Pregled mentorjev in njihovih učencev
    %table
      %thead
        %tr
          %th Mentor
          %th Učenci
      %tbody
        - @active_enrollments.group_by(&:mentor).each do |mentor, enrollments|
          %tr
            %td= link_to mentor, details_mentor_path(mentor)
            %td= enrollments.collect(&:student).collect { |student| link_to student, student }.to_sentence.html_safe
    

      