- title @instrument.title
= render_misc 'instruments'
.instrument_image= image_tag @instrument.icon

= spit @instrument, :description, :div, true

.mentors
  %strong Mentorji:
  = spit_with_links @instrument, :mentors
.locations
  %strong Lokacije:
  = spit_with_links @instrument, :locations

- if @instrument.shop_instructions
  .shop_instructions
    %h3 Nasveti za nakup
    = @instrument.shop_instructions_html_short
    - unless @instrument.shop_advices.empty?
      = link_to "Podrobni nasveti za nakup", instrument_shop_advices_path(@instrument)
    - admin_section do
      = link_to "Dodaj podroben nasvet", new_instrument_shop_advice_path(@instrument)
  
= spit @instrument, :goals, :div, true
= spit @instrument, :activities, :div, true



- admin_section do
  = link_to "Uredi", edit_instrument_path(@instrument)
  |
  = link_to "Odstrani", @instrument, :confirm => 'Ste prepriÄani?', :method => :delete
