= simple_form_for resource, :class => :simple do |f|
  = f.association :location_section
  
  = f.input :title
  = f.input :subtitle
  = f.input :address
  = f.association :post_office
  = f.input :city
  = f.input :uri
  = f.input :about
  
  .submit
    = f.button :submit
