.location
  .letter= location.letter
  .data
    %h4= link_to location.title, location_path(location)
    = spit location, :subtitle
    .address
      = location.address
      %br
      = location.post_office
      = location.city      
      
    .mentors
      %strong Mentor(ji):
      = spit_with_links location, :mentors
    .instruments
      %strong Programi:
      - location.instruments.each do |i|
        = link_to image_tag(i.icon_small), instrument_path(i)
      
  %br
