= title "Lokacije"

.crud
  .master
    = link_to "Nova lokacija", new_location_path

%p
  %strong Dodajanje mentorja
  lokaciji je možno samo kadar je lokacija že ustvarjena. Mentorja dodaš lokaciji tako, da izbereš urejanje lokacije.
%table
  %thead
    %th Naziv lokacije
    %th Podnaziv
    %th Naslov
    %th Mesto
    %th Poštna številka
    %th Spletni naslov
    %th Skupina lokacij
    %th Podrobnosti
    %td
  %tbody
    - for location in collection
      %tr.clickable
        %td= location.title
        %td= location.subtitle
        %td= location.address
        %td= location.city
        %td
          - if location.post_office
            = location.post_office.id
        %td= location.uri
        %td
          - if location.location_section
            = location.location_section.title
        %td= location.about
        %td
          .crud
            = link_to "Odstrani", location, :confirm => destroy_confirmation(location), :method => :delete
            = link_to "Uredi", edit_location_path(location)

