- title @location.title

.data
  %h3= @location.title
  = spit @location, :subtitle
  .address
    = @location.address
    %br
    = @location.post_office
    = @location.city
  - if @location.uri
    %p
      = link_to @location.uri, @location.uri

  .mentors 
    %h4 Mentorji
    = spit_with_links @location, :mentors
  .instruments
    %h4 Programi
    = render :partial => "instruments/table", :locals => {:instruments => @location.instruments}

      
%p= textilize(@location.about) unless @location.about.blank?


