- title @location.title

.data
  %h3= @location.title
  = spit @location, :subtitle
  .address
    = @location.address
    %br
    = @location.zip
    = @location.city
  - if @location.uri
    %p
      = link_to @location.uri, @location.uri

  .mentors 
    %h4 Mentorji
    = spit_with_links @location, :mentors
  .instruments
    %h4 Programi
    = render :partial => "instruments/table", :locals => {:instruments => @location.instruments}

      
%p= textilize(@location.about) unless @location.about.blank?

- map = GoogleMap.new(:zoom => 15)
- map.markers << GoogleMapMarker.new( :map => map, :lat => @location.lat, :lng => @location.lng, :html => location_html(@location))
= map.to_html
#map= map.div

- admin_section do
  = link_to "Uredi", edit_location_path(@location)
  |
  = link_to "Odstrani", @location, :confirm => 'Ste prepriÄani?', :method => :delete