!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = yield(:title).empty?? "Gvido" : yield(:title)
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    - if @lightbox
      = stylesheet_link_tag 'lightbox'
  %body{body_attrs}
    #wrapper
      #header
        = link_to image_tag("header_photos/#{random_image}"), root_path
        %ul#nav
          = menu_item "Domov", "Root", root_path
          %li{:class => ("active" if current_section == :abouts)}
            = link_to "O nas", abouts_path
            %ul
              = menu_item "Aktualno", "Notices", notices_path
              = menu_item "Mentorji", "Mentors", mentors_path
              = menu_item "Lokacije", "Locations", location_sections_path
              = menu_item "Pogosta vprašanja", "Questions", questions_path
              = menu_item "Reference", "References", references_path
              = menu_item "Urniki", "Schedules", schedules_path
          = menu_item "Programi", "Instruments", instruments_path
          %li{:class => ("active" if current_section == :albums)}
            = link_to "Galerija", albums_path
            %ul
              = menu_item "Fotografije", "albums", albums_path
              = menu_item "Video", "albums", albums_path(:video => true)
          = menu_item "Povezave", "Links", links_path
          = menu_item "Koncerti", "Gigs", gigs_path
          = menu_item "Kontakt / Vpis", "contact", new_contact_path
      %h1 Gvido
      %h2= yield :title
      %br.clear
      #sidebar
        .information
          %strong GVIDO
          %br
          Glasbeno vzgojno izobraževalno društvo
          %br
          T: (031) 34-36-30
          %br
          E: 
          = link_to "info@gvido.si", "mailto:info@gvido.si"
        .social
          = link_to image_tag('icons/facebook_large.png'), "http://www.facebook.com/pages/GVIDO-Music/123760304306980", :title => "Gvido na Facebook"
          = link_to image_tag('icons/myspace_large.png'), "http://www.myspace.com/gvidomusic", :title => "Gvido na MySpace"
          = link_to image_tag('icons/jazoo.png'), "http://jazoo.si", :title => "Jazoo band"
        = yield :sidebar
      #content= yield
      #footer
        &copy;2010 GVIDO 
        %span.production &mdash; produkcija: <a href="http://miha.rebernik.info">Miha Rebernik</a>
        
        - if Rails.env.production?
          = render "layouts/analytics"
