!!! Strict
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = yield(:title).empty?? "GVIDO" : yield(:title)
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body{body_attrs}
    #backdoor
      = link_to dashboard_path do
        %span Talissim
    #wrapper
      #tenyears= image_tag "10years.png"
      #header
        - if banner = Banner.first
          = link_to image_tag(banner.image.url), banner.url
        - else
          = link_to image_tag("header_photos/#{random_image}"), root_path
        %ul#nav
          = menu_item "Domov", "Root", root_path
          %li{:class => ("active" if current_section == :abouts)}
            = link_to "O nas", abouts_path
            %ul
              = menu_item "Aktualno", "Notices", notices_path
              %li{:class => ("active" if current_section == :mentors)}
                = link_to "Kdo smo?", mentors_path
                %ul
                  = menu_item "Mentorji/ce", "mentors", mentors_path
                  = menu_item "Referenti/ke", "mentors", mentors_path(:referents => true)
              = menu_item "Kje smo?", "Locations", location_sections_path
              = menu_item "Pogosta vprašanja", "Questions", questions_path
              = menu_item "Reference", "References", references_path
              = menu_item "Dokumenti", "Schedules", schedules_path
          = menu_item "Programi", "Instruments", instruments_path
          %li{:class => ("active" if current_section == :albums)}
            = link_to "Galerija", albums_path
            %ul
              = menu_item "Fotografije", "albums", albums_path
              = menu_item "Video", "albums", albums_path(:video => true)
          = menu_item "Povezave", "Links", links_path
          = menu_item "Koncerti", "Gigs", gigs_path
          = menu_item "Kontakt / Vpis", "contact", new_contact_path
      %h1 GVIDO
      %h2= yield :heading
      %br.clear
      #sidebar
        .information
          %strong GVIDO
          %br
          T: (031) 34-36-30
          %br
          E: 
          = link_to "info@gvido.si", "mailto:info@gvido.si"
        .social
          = link_to image_tag('icons/facebook_large.png'), "http://www.facebook.com/pages/GVIDO-Music/123760304306980", :title => "Gvido na Facebook"
          = link_to image_tag('icons/jazoo.png'), "http://jazoo.si", :title => "Jazoo band"
        = yield :sidebar
      #content
        = yield
        %br.clear
      #footer
        &copy;2011 GVIDO 
        %span.production 
          &mdash; produkcija: 
          = link_to image_tag("disrupt.png"), "http://disru.pt", :title => "Produkcija: DISRU.PT - Agile thinking (http://disru.pt)"
        
        - if Rails.env.production?
          = render "layouts/analytics"
