!!! 5
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = yield(:title).empty?? "Gvido Dashboard" : yield(:title)
    = stylesheet_link_tag "dashboard"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{body_attrs}
    #header
      %ul#nav
    #content
      = yield
    #footer
      &copy;2010 GVIDO
      %span.production &mdash; produkcija: <a href="http://disru.pt">DISRU.PT</a>
